.footer-larissa{
    width: 75%;
    margin: auto;
    font-family: 'Oswald', sans-serif;
    bottom: 0%;
    position: fixed;
    left: 12.5%;
    z-index: 100;
    background-color: #fff;
}
@media screen and (max-width: 750px) {
    .footer-larissa {
        width:100%;
    }
}

.wrapper{
    display: grid;
    grid-template-columns: 15% 20%;
    grid-column-gap: 65%;
}

@media screen and (max-width: 1000px) {
    .wrapper {
        grid-template-columns: 15% 10%;
        grid-column-gap: 75%;
    }
}

@media screen and (max-width: 750px) {
    .wrapper {
        grid-template-columns: 15% 12%;
        grid-column-gap: 73%;
    }
}
#trennlinie{
    width: auto;
    border-width: 1px;
    border-radius: 1px;
    border-color: #505050;
    border-style: solid;

}

a{
    text-decoration: none;
    color: none;
}

.icons{
    padding: 12% 0% 0% 0%;
}

.img{
    width: 13%;
    padding: 0% 10% 0% 0%;

}

@media screen and (max-width: 750px) {
    .img {
        width: 22%;
        padding: 0% 30% 8% 0%;
    }
}

.links{
    width: 23%;
    padding: 1.5vw 0% 0% 0%;
}

@media screen and (max-width: 1000px) {
    .links {
        padding: 2% 0% 0% 0%;
    }
}

.text-link{
    color: #505050;
    text-decoration: none;
    font-size: 0.85vw;
}

.text-link:hover{
    color: #505050;
    text-decoration: underline;
}

@media screen and (max-width: 1000px) {
    .text-link {
        font-size: 1.5vw;
    }
}

@media screen and (max-width: 650px) {
    .text-link {
        font-size: 2vw;
    }
}

.footer-link{
    display: inline;
    padding: 0% 0% 0% 50%;
}

@media screen and (max-width: 1000px) {
    .footer-link {
        display: block;
        padding: 0;
    }
}

#footer-liste{
    list-style: none;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 1000px) {
    #footer-liste {
        padding: 60% 0% 0% 0%;
    }
}