.loginbox{
  height:310px;
  width: 280px;
  border-style: solid;
  border-color: #505050;
  border-width: 1px;
  border-radius: 10px;
  background-color: white;
  font-family: 'Oswald', sans-serif;
  color: #505050;
  font-size: 14px;
  position: absolute;
  left: 70%;
  top: 10px;
}

p{
  cursor: pointer;
}

h1{
  position: relative;
  left: 20px;
  font-size: 22px;
}

input{
  position: relative;
  width: 200px;
  height: 30px;
  margin: 0 auto;
  display: block;
  margin-top: 10px;
}

form{
vertical-align: center;
  margin: 0 auto;
  display: block;
}

.button{
  display: block;
  position: relative;
  top: 20px;
  width: 60px;
  margin: 0 auto;
}

.forgotPassword{
  position: relative;
  font-size: 12px;
  text-align: center;
  top: 22px;
}

.buttonkundenkonto{
  display: block;
  position: relative;
  top: 40px;
  width: 80px;
  margin: 0 auto;
}




