.leere-div{
  width: 0px;
  height: 0px;
  margin-left: 84%;
}
.loginbox{
  height:310px;
  display: block;
  width: 280px;
  border-style: solid;
  border-color: #505050;
  border-width: 1px;
  border-radius: 10px;
  background-color: white;
  font-family: 'Oswald', sans-serif;
  color: #505050;
  font-size: 14px;
  position: absolute;
  left: 72.1%;
  top: 6.1%;
  z-index: 1000;
}
.sb1:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #505050;
  border-top: 10px solid transparent;
  right: 12%;
  top: -6.5%;
}

p{
  cursor: pointer;
}

h1{
  position: relative;
  left: 20px;
  font-size: 22px;
}

input{
  position: relative;
  width: 200px;
  height: 30px;
  margin: 0 auto;
  display: block;
  margin-top: 10px;
}

form{
vertical-align: center;
  margin: 0 auto;
  display: block;
}

.button{
  display: block;
  position: relative;
  top: 20px;
  width: 60px;
  margin: 0 auto;
}

.buttonOrig{
  display: block;
  position: relative;
  top: 10%; /*-648px;*/
  right: 25%; /*-1560px;*/
  width: 0px;
  margin: 0 auto;
}

.forgotPassword{
  position: relative;
  font-size: 12px;
  text-align: center;
  top: 22px;
}

.buttonkundenkonto{
  display: block;
  position: relative;
  top: 40px;
  width: 80px;
  margin: 0 auto;
}

.hidden{
  display: none;
}




