#footer-cookie,
#footer-cookie * {
  box-sizing: border-box;
}

#footer-cookie {
  /* display: none; */
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  padding-left: 60px;
  padding-right: 60px;
  line-height: 60px;
  background: #EFEFEF;
  color: #fff;
}


#footer-cookie a {
  color: #707070;
}

#footer-cookie:hover a:hover {
    color: rgb(156, 156, 156);
}



#footer-cookie #description {
    font-family: Arial, Helvetica, sans-serif;
    color: #707070;
    float: left;
    /* font-weight: 400; */
}

#footer-cookie #accept {
  float: right;
  font-family: Arial, Helvetica, sans-serif;
  color: #505050;
  font-weight: lighter;
}

#footer-cookie #accept a {
  border: 1px solid #707070;
  padding: 7px 80px;
  text-decoration: none;
  background: #DEDEDE;
}

#footer-cookie:hover #accept a:hover {
    background: #707070;
    color: #DEDEDE;
}

.more {
    color: #707070;
}

.more:hover {
    color: rgb(165, 164, 164);
}

@media (max-width: 1200px) {
  #footer-cookie {
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: inherit;
    height: auto;
  }

  #footer-cookie #description {
    width: 100%;



  }

  #footer-cookie #accept {
    width: 100%;
    margin-top: 15px;
  }

  #footer-cookie #accept a {
    width: 100%;
    display: block;
    text-align: center;
  }
}

