button{
  border-style: solid;
  border-color: #505050;
  border-width: 1px;
  border-radius: 10px;
  background-color: white;
  width: 80px;
  height: 30px;
}

.link {
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  color: #505050;
  text-decoration: none;
}
