.suchleiste-allgemein{
    width: 300px;
    margin-left: 80%;
    height: 30px;
    z-index: 100px;
}

.allgemein{
    width: 300px;
    height: 25px;
    margin-left: 66.5%;
}

.lupe-standart{
    width: 80%;
    display: block;
}

.activated-lupe{
    width: 10%;
    height: 10%;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    display: block;
}

.schliessen-standart{
    width: 50%;
    padding-left: 80%;
    display: block;
}

.activated-schliessen{
    width: 8%;
    height: 10%;
    padding: 0;
    margin: 0;
    display: relative;
    border: none;
    background-color: transparent;
}

.eingabefeld{
    display: block;
}

.activated-searchbar{
    height: 100%;
    width: 100%;
    display: absolute;
    margin-right: 100%;
}

input{
    width: 90%;
    border: none;
	color: #505050;  
	text-align: left;
	cursor: pointer;
    outline:0;
}

input:hover{
    border: none;
    color: #505050;  
}

#Vögel{
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.inactive{
    display: none;
}