p.rot{
    color: green;
    display: block;
}

.searchbar{
    border-color: greenyellow;
}

.lupe-button{
    border: none;
    display: block;
}

.lupe-click{
    background-color: hotpink;
}

.lupe-standart{
    width: 5%;
    display: block;
}

.lupe-bloed{
    width: 50%;
    display: block;
}

.change{
    background-color: hotpink;
}