header-katharina {
    font-family: 'Arial',sans-serif;
    background: grey;
} 

/* .wrapper{
    width: 75%;
    margin: auto;
} */

.logo {
    float: left;
}

.logo-image {
    width: 3em;
}

.burger-icon {
    width: 3em;
    float: right;
    /* position: absolute;
    bottom: 0;
    right: 0; */

}

.links {
    list-style: none;
    background-color: white;
    text-transform: uppercase;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
}

li {
    display: inline;
    padding: 6px 10px;

    
}

a{
    text-decoration: none;
    color: black;  
}

a:hover{
    text-decoration: underline;
}

.header {
    width: 75%;
    margin: auto;
    font-family: 'Oswald', sans-serif;
    position: absolute;
    top: 10px;
    left: 12.5%;
    border-bottom-width: 1.3px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    border-bottom-color: #505050;
    border-bottom-style: solid;
}

.burger-links{
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.burger-links>a{
    line-height: 3;
    padding-left: 5px;
    padding-right: 5px;
}

.burger-wrapper {
    float: right;
    display: none;
}

.menu{
    position: relative;
    float: right;
    width: 100px;
    right: 13px;
    background-color: white;
    margin-top: 86px;
    border-width: 1.3px;
    border-radius: 3px;
    border-color: #505050;
    border-style: solid;
    border-top-width: 1.3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0px;
    border-top-color: white;
    border-top-style: solid;
}

button{
    border: none;
    background: transparent;
}

@media screen and (max-width: 750px) {
    .logo {
        width: 22%;
    }
}

@media screen and (max-width: 750px) {
    ul.links {
       display: none;
    }
}

@media screen and (max-width: 750px) {
    .burger-wrapper {
       display: block;
       padding-right: 2%;
    }
}

@media screen and (max-width: 750px) {
    .header {
        width: 100%;
        left: 0;
    }
}

@media screen and (min-width: 750px) {
    .menu {
       display:none;
    }
}
